[data-theme="dark"] {
  --bg-primary: #000f22;
  --bg-secondary: #102842;
  --bg-surface: #1b3554;
  --bg-hover: #29496b;
  --text-primary: #c0e6fd;
  --text-secondary: #a6cce7;
  --text-muted: #80aad3;
  --accent: #80aad3;
  --accent-dim: #5b86b6;
  --error: #d88a8a;
  --success: #8ec4aa;
  --warning: #d1b978;
  --border: #3f6593;
}
